/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
	padding:0;
	margin:0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
button{
	cursor: pointer;
	border:none;
	outline: none;
	background-color: transparent;
	color: white;
	font-size: 18px;
	font-weight: 700;
}

.navbar-brand{
	font-size: 20px;
	font-weight: 700;
	color: white;
}
nav .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: blue;
	color: white;
}
.dropdown {
	position: relative;
	display: inline-block;
}

.flex-v{
	display: flex;
	align-items: center;
	gap:20px;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content li {
	margin: 20px 0;
}

.dropdown-content li a:hover{
	color: blue;
}

/* Food styling */

.add-btn{
	color:white;
	background-color: rgb(41, 143, 41);
	font-size:20px;
	padding:6px;
	float: right;
}
.add-btn:hover {
	opacity: 0.9;
}

.add-btn:active {
	background-color: rgb(22, 63, 22);
}

.food-container .delete-btn{
	color: white;
	background-color: red;
	padding:5px;
	font-weight: lighter;
	border-radius:4px;
}
.food{
	padding:20px;
}
.food-container{
	display:flex;
	width:100%;
	align-items: center;
	justify-content: center;
	padding: 20px;
}
.styled-table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	font-family: sans-serif;
	min-width: 600px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
	background-color: #009879;
	color: #ffffff;
	text-align: left;
}

.styled-table th,
.styled-table td {
	padding: 12px 15px;
}

.styled-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
	font-weight: bold;
	color: #009879;
}

/* Add food styling */
.add__food-container{
	width: 100%;
	padding: 0 15rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 60vh;
}

.add__food-container h2{
	color: blue;
	font-size: 20px;
	text-align: center;
	font-weight: 400;
}
@media screen and (max-width:480px) {
		.add__food-container {
		width: 100%;
		padding: 0 4rem;
	}
}
.input{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

/* Public Recipes styling */
.public-container{
	display: flex;
	flex-direction: column;
	gap:20px;
	justify-content: center;
	align-items: center;
}
.public-container .inner-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	border: 1px solid gray;
	padding: 10px;
}