.shopping-info-div {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 40px;
}

.ingredient-form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 25%;
  height: 30px;
}

h1 {
  color: blue;
  display: flex;
  justify-content: center;
  padding-top: 160px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 100px;
}

table.paleBlueRows {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #fff;
  width: 450px;
  height: 90px;
  text-align: center;
  border-collapse: collapse;
}

table.paleBlueRows td,
table.paleBlueRows th {
  border: 1px solid #fff;
  padding: 3px 2px;
}

table.paleBlueRows tbody td {
  font-size: 20px;
}

table.paleBlueRows tr:nth-child(even) {
  background: #d0e4f5;
}

table.paleBlueRows thead {
  background: #0b6fa4;
  border-bottom: 5px solid #fff;
}

table.paleBlueRows thead th {
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border-left: 2px solid #fff;
}

table.paleBlueRows thead th:first-child {
  border-left: none;
}

table.paleBlueRows tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  background: #d0e4f5;
  border-top: 3px solid #444;
}

table.paleBlueRows tfoot td {
  font-size: 14px;
}
